*~ 
*.tmp
**/results/*
!**/results/.gitkeep
main
requirements.txt
*.pdf
!week3/writeup/*.pdf
**/**/.Rhistory
**/week5/data/*
**/**/__pycache__/*
*.blg
*.aux
*.bbl
*.log
*.run.xml
*.synctex.gz
*.bcf
*.run.xml
main-words.sum
MiniProject/writeup/main-words.sum
.ipynb_checkpoints
sim_results_*
cluster_run.sh.o*
cluster_run.sh.e*
*.zip
*.tif
*.tiff
mle/code/wc10/*
