*~ 
*.tmp
**/results/*
!**/results/.gitkeep
main
requirements.txt
**/**/Rplots.pdf
week3/code/Florida.pdf
**/**/.Rhistory
**/**/*.tif
**/week5/data/*
**/**/__pycache__/*
*.blg
*.aux
*.bbl
*.log
*.run.xml
*.synctex.gz
*.bcf
*.run.xml
MiniProject/writeup/main.pdf
MiniProject/writeup/*.pdf
main-words.sum
MiniProject/writeup/main-words.sum
.ipynb_checkpoints
sim_results_*
cluster_run.sh.o*
cluster_run.sh.e*
*.zip
